.Box{
    min-width: 500px;min-height: 395px;margin: auto;padding: 30px; 
    border-radius: 50px;box-sizing:border-box; background-color: white; 
    position: relative;}

    .root{
display: flex;
flex-direction: column;

    }
    .alert{margin-top: 40px;}

    @media (max-width: 500px) {
        .Box{width: 100%; min-width: unset;padding: 7px;}
        

    
  }